# gradle, if its ever used

.gradle/
build/
out/
classes/

# idea

.idea/
*.iml
*.ipr
*.iws

# eclipse

bin/
.classpath
.project
.checkstyle
.recommenders/
.metadata/
*.launch

# vscode

.settings/
.vscode/